doctype html
html(lang="en")
	head
		link(rel="stylesheet" href="css/style.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css')
	body
		
		.container

			#top_header
				a(href="#") Om mig
				a(href="#") Kunskap
				.logo_wrapper
					.logo
				a(href="#") Portfolio
				a(href="#") Kontakt

			header
				.title Lorem ipsum dorem orum,<br><span class="light">Korum lorum sorum ba,</span><br><span class="lighter">Rokka lokka zak.</span>

				.image
					img(src="images/zak.png")

			section#about.clearfix
				.title Vem jag är

				.line

				.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur. Fusce magna dui, eleifend ut porta in, maximus eget erat. Pellentesque id lacus tincidunt quam feugiat finibus eget a est. Nunc finibus eros sit amet ipsum vulputate, in tempus magna pretium. Aliquam semper in mauris ac ultrices. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur. Fusce magna dui, eleifend ut porta in, maximus eget erat. Pellentesque id lacus tincidunt quam feugiat finibus eget a est. Nunc finibus eros sit amet ipsum vulputate, in tempus magna pretium.

				.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur. Fusce magna dui, eleifend ut porta in, maximus eget erat. Pellentesque id lacus tincidunt quam feugiat finibus eget a est. Nunc finibus eros sit amet ipsum vulputate, in tempus magna pretium. Aliquam semper in mauris ac ultrices. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur. Fusce magna dui, eleifend ut porta in, maximus eget erat. Pellentesque id lacus tincidunt quam feugiat finibus eget a est. Nunc finibus eros sit amet ipsum vulputate, in tempus magna pretium.

			section#skills.clearfix

				.title Färdigheter

				.line

				.section
					.col
						p HTML
						.ability.html
						.rest
					.col
						p CSS
						.ability.css
						.rest
					.col
						p JAVASCRIPT
						.ability.javascript
						.rest
					.col
						p FRAMEWORK
						.ability.framework
						.rest

				.section
					.col
						p C#
						.ability.html
						.rest
					.col
						p PHP
						.ability.css
						.rest
					.col
						p NODE
						.ability.javascript
						.rest
					.col
						p FRAMEWORK
						.ability.framework
						.rest

			section#portfolio

				.title Portfolio

				.line

				.wrapper
					.box_wrapper
						.box
							.work
							.work
							.work
							.work

			section#contact
				a(href="#") zak.eklund@live.se



