doctype html
html(lang="en")
	head
		link(rel="stylesheet" href="css/style.css")
		link(href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
		link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css" rel="stylesheet")

	body
		
		.container

			#top_header
				a(href="#about") Om mig
				a(href="#skills") Kunskap
				//- .logo_wrapper
				//- 	.logo
				a(href="#portfolio") Portfolio
				a(href="#contact") Kontakt

			header

				include svg.html

				.title Lorem ipsum dorem orum,<br><span class="light">Korum lorum sorum ba,</span><br><span class="lighter">Rokka lokka zak.</span>

				//- i(class="fa fa-angle-double-down" aria-hidden="true")


			section#about.clearfix
				.title Vem jag är

				.line

				.wrapper

					.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur. Fusce magna dui, eleifend ut porta in, maximus eget erat. Pellentesque id lacus tincidunt quam feugiat finibus eget a est. Nunc finibus eros sit amet ipsum vulputate, in tempus magna pretium. Aliquam semper in mauris ac ultrices. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur. Fusce magna dui, eleifend ut porta in, maximus eget erat. Pellentesque id lacus tincidunt quam feugiat finibus eget a est. Nunc finibus eros sit amet ipsum vulputate, in tempus magna pretium.

			section#skills.clearfix

				.title Färdigheter

				.line

				.section
					.col
						p HTML
						.ability.html
						.rest
					.col
						p CSS
						.ability.css
						.rest
					.col
						p JAVASCRIPT
						.ability.javascript
						.rest
					.col
						p FRAMEWORK
						.ability.framework
						.rest

				.section
					.col
						p C#
						.ability.html
						.rest
					.col
						p PHP
						.ability.css
						.rest
					.col
						p NODE
						.ability.javascript
						.rest
					.col
						p FRAMEWORK
						.ability.framework
						.rest

			section#portfolio

				.title Portfolio

				.line

				.wrapper
					.box
						.work.upper
							.info
								.title Portfolio
								.line
								.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur.
						.work.upper
							.info
								.title Portfolio
								.line
								.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur.
						.work.upper
							.info
								.title Portfolio
								.line
								.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur.
						.work
							.info
								.title Portfolio
								.line
								.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur.
						.work
							.info
								.title Portfolio
								.line
								.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur.
						.work
							.info
								.title Portfolio
								.line
								.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie est sit amet sapien viverra consectetur.

			section#contact
				.title Kontakta mig via email

				.line
				a(href="#") Email

			section#footer




